<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <%= link_to "Show this post", post %>
  <% end %>
</div>
<div id="next_link">
  <%= button_to "Next", pagy_url_for(@pagy, @pagy.next) %>
</div>

